.NavBar {
    min-height: 75px;
    width: 100%;
    background-color: #d8d8d8;
    border-bottom: solid #77787a 2px;
    box-shadow: 0 2px 3px #ccc;
}

.Flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Heading {
    font-size: 20px;
    margin: 20px;
}

.AlignInput input {
  margin-right: 20px;
  background-color: #d8d8d8;
}

.Search {
    cursor: pointer;
    margin-right: 10px;
}